body {
  max-width: 320px;
  margin: auto;
  background: black;
  text-align: center;
  color: white;
  font-family: elza-narrow, sans-serif;
  font-weight: 300;
  font-size :18px;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  color: #b11a2c;
  font-size: 55px;
  font-family: modish, sans-serif;
  font-weight: 400;
}
nav{
  font-family: fino-sans, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

nav a {
  color: white;
  padding: 10px 20px
}

h2{
  font-family: fino-sans, sans-serif;
  font-weight: 700;
  font-size: 45px;
}

h3{
  font-family: fino-sans, sans-serif;
  font-weight: 700;
  font-size: 28px;
}

h4{
  font-family: fino-sans, sans-serif;
  font-weight: 700;
  font-size: 22px;
}

footer p{
  font-size: 12px;
}

.legend {
  font-size: 14px;
}

footer{
  background: #3d3d3d;
}

.biographie{
  background: #c0c0c0;
  color:black;
}

.resume{
  background: #808181;
}