body {
  max-width: 320px;
  margin: auto;
  background: #0e0d0e;
  text-align: center;
  color: white;
  font-family: elza-narrow, sans-serif;
  font-weight: 300;
  font-size :18px;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  color: #b11a2c;
  font-size: 55px;
  font-family: modish, sans-serif;
  font-weight: 400;
  margin: 20px 0 0 0;
}
nav{
  font-family: fino-sans, sans-serif;
  font-weight: 700;
  font-size: 19px;
}

nav a {
  color: white;
  padding: 10px 20px
}

h2{
  font-family: fino-sans, sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin: 0 0 23px 0;
}

h3{
  font-family: fino-sans, sans-serif;
  font-weight: 700;
  font-size: 28px;
}

h4{
  font-family: fino-sans, sans-serif;
  font-weight: 700;
  font-size: 22px;
}

footer p{
  font-size: 12px;
}

.legend {
  font-size: 13px;
  margin: 15px 45px 55px 45px;
}

.biographie{
  color:black;
  background: #808181;
  background-image: url("../img/fond/clair.png");
  padding: 30px 60px 55px 60px;
  margin: 0 0 30px 0;
}

.resume{
  background-image: url("../img/fond/moyen.png");
  padding: 30px 60px 55px 60px;
  margin: 0 0 30px 0;
}

.info {
  padding: 30px 60px 55px 60px;
}
footer{
  background-image: url("../img/fond/foncer.png");
}

header nav{
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  margin: 0 0 30px 0;
  padding: 10px;
}

header img{
  width: 225px;
  height: 336px;
  margin:auto;
}

p{
  margin:0;
}

main img{
  width:225px;
  height: 285px;
  margin: auto;
}

.logo{
  width:140px;
  height: 100px;
  margin:auto;
}

.photofilm {
  width: 225px;
  height: 125px;
}

nav a {
  text-decoration: none;
}

.music {
  padding: 0 60px 55px 60px;
  margin: 0 0 30px 0;
}

em{
  color:#b11a2c;
  font-style: normal;
}

hr{
  margin: 30px;
}

.music{
  padding:0;
  margin: 50px 47px 30px 47px;
}